.footer {
    background-color: #091242;
    //height: 562px;
}

.footer-container {
    padding-top: 40px;
}

.footer__logo {
    display: flex;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}

.footer-title {
    font-size: 20px;
    color: white;
}


.footer-contacts {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: -30px;

    & p {
        color: white;
    }
}

.footer-h3-title {
    margin-bottom: 10px;
    color: white;
}

.footer-h3 {
    margin-top: 15px;
}

.footer-panel {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;


    // background-color: aqua;
}

.footer-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation-footer__list {
    padding-left: 50px;
}

.footer-list__item {
    display: flex;
    align-items: center;
    color: white;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.navigation-footer-item {
    margin-bottom: 20px;
}

.nav-link-footer {
    font-size: 26px;
}

.footer-input {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
    background-color: transparent;
    border-color: #4E5683;
}

.text-klient {
    width: 100%;
    height: 120px;
    color: white;
    padding: 10px;
    background-color: transparent;
    border-color: #4E5683;    
}

.footer-send {
    //display: flex;
    align-items: center;
    padding-top: 30px;
}

.footer-btn {
    padding: 20px 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
}

.copyright {
    padding-top: 15px;
    //padding-bottom: 20pa;
    font-weight: 500;
    font-size: 16px;
    line-height: 250%;
    color: #FFFFFF;

    &::before {
        display: block;
        height: 1px;
        width: 100%;
        background-color: #4E5683;
        content: "";
    }
}

.title__icon {
    height: 33px;
    width: 33px;
    margin-right: 20px;
}

// @media screen and (min-width: 480px) {
    
 
// }

@media screen and (min-width: 768px) {

    .footer-title {
        font-size: 26px;
    }

    // .footer-title {
    //     font-size: 14px;
    // }
    
    .footer-send {
        display: flex;
        align-items: center;
        padding-top: 30px;
    }

}


@media screen and (min-width: 1200px) {

    // .footer-title-full {
    //     display: block;
    // }

    // .footer-title-cut {
    //     display: none;
    // }

    .footer-contacts {
        display: flex;
    }
    
}