.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 46px;
    padding-bottom: 64px;
    background-color: #091242;
    pointer-events: none;
    z-index: 999;
    transform: translateY(-100%);
    transition: transform 250ms linear;
    visibility: hidden;
  
    &.is-visible {
      pointer-events: auto;
      visibility: visible;
      transform: translateY(0);
      
    }
  }

.mobile__menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-modal {
// position: absolute;
// top: 46px;
// left: 28px;
height: 37px;
width: 40px;
}  

.title__logo {
  color: #fcfcfc;
}

.menu__close-btn {
    //position: absolute;
    // top: 46px;
    // right: 22px;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    line-height: 0;
    fill: #ffffff;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: #FFB82B;
    }

}

.mobile__nav-item {

  margin-top: 70px;

    & .mobile__nav-link {
      font-weight: 700;
      font-size: 32px;
      line-height: 1.22;
      color: #fcfcfc;
    }
  
    & .mobile__nav-link:active,
    & .mobile__nav-link:focus {
      color: #FFB82B;
    }
  
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  
    &:last-child {
      margin-bottom: 110px;
    }
}

// @media screen and (min-width: 768px) {


//   .is_visible {
//     //transform: translateY(-100);
//     visibility: hidden;
//   }
  
// }
  