.services {
    position: relative;
    height: 1710px;
    background: linear-gradient(95deg, #FFB629 -1.19%, #FFDA56 57.78%, #FFD7A6 115.08%);
}

.services-container {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translate(-50%, -10%);    
}

.services h2 {
    margin-bottom: 20px;
	font-weight: 600;
	font-size: 35px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
    color: #1C1F35;
    
}

.services-list {
	display: block;
   // margin-bottom: -30px;
}

.services-item {
    margin-bottom: 30px;
	display: block;
	//flex-basis: calc((100% - 10px));
	width: 264px;
}

.services-wrap {
    height: 258px;
	position: relative;
}

.services-img {
    display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.services-description {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--white-color);
	background: rgba(47, 48, 58, 0.8);

		& h3 {
			
			font-weight: 500;
			font-size: 14px;
			line-height: 100%;
			color: white;
		}

		& p {
			font-weight: 500;
			font-size: 12px;
			line-height: 152%;
			color: #FFB629;
		}
}

.services-btn {
    display: block;
    padding: 20px 40px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #091242;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    color: white;
	cursor: pointer;
}

@media screen and (min-width: 488px) {

	.services {
		height: 855px;
	}

	.services-container {
		transform: translate(-50%, -20%);    
	}	

	.services-list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-bottom: -30px;
	}
	
	.services-item {
		flex-basis: calc((100% - 60px) / 2);
		margin-left: 30px;
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 768px) {

	.services {
		height: 570px;
	}

	.services-container {
		transform: translate(-50%, -30%);    
	}		
	
	.services-item {
		flex-basis: calc((100% - 90px) / 3);
	}

}